@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Beady's Books</h1>
        <p class="lead">
            Beady’s Books is an established book store with ten retail outlets across Sydney, Sales have been declining of late and a recent customer survey has shown that the lack of an online shopping facility is one of the reasons for the decline.

            In response to this, the company has decided to launch a web site that will allow customers to search for books, view the details of the book they have searched for, check its price and order books. Customers should also be able to open an account for a record of their orders.

            The company has also ascertained that the website will need to allow staff to add, edit, update and delete books, view the customer’s orders.








        
         
         